<h1>GitHub User Search</h1>

<%= form_tag(github_search_path, method: 'get') do %>
  <%= text_field_tag :github_login, params[:github_login], placeholder: t('placeholders.github_login'), required: true %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @user %>
  <h2>User Information</h2>
  <p><strong>Name:</strong> <%= @user.name %></p>
<% end %>

<% if @repos.present? %>
  <h2>Repositories</h2>
  <ul>
    <% @repos.each do |repo| %>
      <li><strong><%= repo.name %></strong>: <%= repo.description %></li>
    <% end %>
  </ul>

  <%= paginate @repos %>

<% elsif params[:github_login].present? %>
  <p>No repositories found</p>
<% end %>
